<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="name" class="form-control" ngModel required>
        <p class="error" *ngIf="!formulario.controls['name']?.valid && formulario.controls['name']?.touched">
            El campo nombre es requerido
        </p>
    </div>
    <div class="mb-3">
        <label class="form-label">Apellidos</label>
        <input type="text" name="surname" class="form-control" ngModel>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" name="email" class="form-control" ngModel>
    </div>
    <input type="submit" value="Enviar">
</form>