<!-- <app-series></app-series>


<input type="range" (input)="changeFontSize($event)" min="10" max="100">

<div>
  <button (click)="changeBgColor('red')">Rojo</button>
  <button (click)="changeBgColor('green')">Verde</button>
  <button (click)="changeBgColor('blue')">Azul</button>
</div>

<p [ngStyle]="propiedades">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est omnis, placeat voluptatem, cupiditate facilis repellat aliquid, alias porro corporis earum officiis dolore exercitationem ab minus fugiat quia consectetur excepturi quasi!</p>

<p [ngClass]="{ activo: active, parrafo: !active }">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ad non iure earum voluptatum eveniet eligendi. Quidem voluptas porro similique incidunt accusamus quo deserunt exercitationem reiciendis aspernatur. Eius, ipsum mollitia.</p>

<p *ngIf="active; then active else noActive"></p>
<ng-template #active>
  <p>NGIF</p>
</ng-template>
<ng-template #noActive>
  <p>NGIF - ELSE</p>
</ng-template>

<p style="display: none;">DISPLAY</p>
-->
<p #parrafoFinal>PF Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nobis!</p>

<p changeColor="blue">Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle ustée. Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no llamarte Rodrigor.</p>

<input type="tel" phoneMask>