.contador {
    width: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

div.contador>div {
    width: 100%;
    display: flex;
    justify-content: center;
}